/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


/* global color for fwd */

:root {
    --fwd-kuning: #FED141;
    --fwd-orange: #E87722;
    --fwd-success: #006269;
    --fwd-btn-open: #0097A9;
    --fwd-btn-progress: #FED141;
    --fwd-btn-complete: #333333;
}

.fwd-success {
    color: var(--fwd-success);
}

.no-padding {
    padding: 0px;
}

.right {
    text-align: right;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.header {
    color: #ee6e73;
    font-weight: 300;
    text-align: center;
}

.section {
    border-top: 4px solid #ffcccc;
}

.fwd-bg {
    background-image: url('../img/bg.png');
    background-size: cover
}

.logo {
    margin-top: 30px;
    margin-left: 26px;
}

.moto {
    padding-top: 350px;
}

.orange,
.white {
    padding: 2px;
    padding-left: 30px;
    font-size: 20px;
    font-weight: bold;
}

.orange {
    background-color: #E87722 !important;
    margin-right: 15%;
    color: #F9FBFC;
}

.white {
    background-color: #F9FBFC !important;
    margin-right: 8%;
    color: #E87722;
    margin-left: 50px;
}

.nav_bottom {
    z-index: 99999;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 75px;
    background-color: white;
    color: black;
    text-align: center;
}

.nav_bottom .row .col {
    padding: 20px;
}

.active_menu {
    top: -30px;
    position: absolute;
    left: 45%;
}

.active_menu img {
    width: 50px;
}

.s5ths,
.m5ths,
.l5ths,
.xl5ths {
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col.s5ths {
    width: 20%;
}

@media only screen and (min-width: 601px) {
    .row .col.m5ths {
        width: 20%;
    }
}

@media only screen and (min-width: 993px) {
    .row .col.l5ths {
        width: 20%;
    }
}

@media only screen and (min-width: 1201px) {
    .row .col.xl5ths {
        width: 20%;
    }
}

.fwd-orange {
    background-color: var(--fwd-orange);
    border-radius: 25px;
}

.fwd-kuning {
    background-color: var(--fwd-kuning);
    border-radius: 25px;
}


/* style for halaman ticket */

.notification {
    padding: 0px 25px 25px 25px;
}

.notification .green-fwd {
    background-color: #0097A9;
    border-radius: 25px;
}

.card .card-content {
    padding-top: 2px !important;
}

.notification h6 {
    text-decoration: underline;
    font-weight: bold;
    font-size: 1rem;
}

.title-ticket,
.date {
    font-size: 12px;
    font-weight: bold;
    color: var(--fwd-kuning);
}

.box-notif-ticket .row {
    margin-bottom: 2px;
}

.box-menu,
.box-menu-orange {
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.box-menu {
    font-size: 19px;
    background-color: white;
    color: var(--fwd-orange);
}

.box-menu-orange {
    font-size: 19px;
    background-color: var(--fwd-orange);
    color: white;
}

.box-menu .right,
.box-menu-orange .right {
    padding-right: 20px;
}

.box-menu-orange img,
.box-menu img {
    padding-left: 20px;
}

.dashboard-menu .container {
    padding: 20px;
}

.box-menu .row,
.box-menu-orange .row {
    margin-bottom: 0px;
}

.box-menu .right-border {
    border-right: 1.5px solid var(--fwd-orange);
}

.box-menu-orange .right-border {
    border-right: 1.5px solid white;
}


/* for halaman new_ticket */

nav {
    height: 100px !important;
    background-color: var(--fwd-orange);
}

nav i {
    position: absolute;
    padding-left: 10px;
}

nav .right {
    padding-right: 15px;
}

nav .brand-logo {
    left: 28%;
    font-size: 22px;
    font-weight: bold;
}

.fwd-form {
    border: 1px solid white;
    border-radius: 20px;
    padding-top: 50px;
    margin-top: -40px;
    background: white;
}

.select-wrapper input.select-dropdown {
    /* border: 1px solid grey !important; */
    border-radius: 25px !important;
    background: #5f5f5f12 !important;
    text-align: center;
}

.mini {
    font-size: 8px;
}

.input-field .prefix.right {
    right: 0;
}

.fwd-input {
    border-radius: 25px !important;
    background: #5f5f5f12 !important;
    text-align: center;
}

#textarea1 {
    height: 100px !important;
    background: #5f5f5f12 !important;
    /* border: 1px solid grey !important; */
    border-radius: 25px !important;
    text-align: center;
}

.input-field.col label {
    left: 42%;
}

.submit {
    width: 100% !important;
    background: var(--fwd-orange);
    border-radius: 25px !important;
}

.modal {
    border-radius: 15px !important;
}

.modal-content,
.modal-footer {
    background-color: white;
}

.modal img {
    width: 100%;
}

.modal embed {
    width: 100%;
    height: 400px;
}

.modal-header {
    background-color: var(--fwd-orange);
    padding: 15px;
    /* padding-left: 15px; */
}

.modal-header h4 {
    color: white;
    font-size: 16px;
    padding: 0px !important;
    margin-bottom: 0px !important;
}

.modal h4 {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.modal .modal-footer {
    text-align: center !important;
}

.btn-warning {
    background-color: var(--fwd-orange);
    border-radius: 25px;
}

.modal .modal-content p {
    text-align: center;
}

.modal .warning img {
    width: 100px;
    margin: 0 auto;
    display: block;
}

.warning {
    font-style: italic;
}

.success {
    color: var(--fwd-success);
}

.helptext {
    font-style: italic;
    font-size: 12px;
}

.collection {
    border: 0px !important;
}

.dropdown-icon {
    position: absolute;
    right: 10px;
    bottom: 16px;
    color: #bdbdbd;
}

.rounded {
    border-radius: 10px;
}

.collection-footer .btn-flat {
    padding: 0px !important;
    font-size: 10px;
    color: #44C7B3;
}

.collection .collection-item.avatar i.circle {
    background-color: var(--fwd-orange) !important;
}

.collection .collection-item.avatar {
    border: 1px solid #707070;
    border-radius: 20px;
    margin-bottom: 15px;
}

.btn-open,
.btn-progress,
.btn-complete {
    font-size: 10px;
}

.btn-open {
    background-color: var(--fwd-btn-open);
}

.btn-progress {
    background-color: var(--fwd-btn-progress);
}

.btn-complete {
    background-color: var(--fwd-btn-complete);
}

.searchable {
    position: absolute;
    width: 100%;
    top: 58px;
}

.collapsible-body {
    padding-bottom: 0px;
}

.collapsible-body .no-padding {
    text-align: center;
}

.collapsible-body .no-padding .rounded {
    width: 98%;
}

.top {
    vertical-align: top;
}

.btn-abu {
    background-color: grey;
}


/* ticket details */

.fwd-detail {
    background-color: rgba(254, 209, 65, 0.3);
    border-radius: 15px;
}

.detail {}

.detail p {
    color: var(--fwd-btn-complete);
}

.detail .row {
    margin-bottom: 10px;
}

.detail .round-top,
.detail .round-down {
    width: 100px;
    text-align: center;
    padding: 0px 15px;
}

.detail .round-top {
    color: white;
    background-color: var(--fwd-btn-complete);
    border-radius: 10px 10px 0px 0px;
}

.detail .round-down {
    color: var(--fwd-btn-complete);
    background-color: white;
    border-radius: 0px 0px 10px 10px;
}

.detail .description-detail {
    background-color: white;
    color: grey;
    padding: 10px;
    border-radius: 15px;
}

.detail .attachment-detail {
    background-color: white;
    color: grey;
    border-radius: 15px;
    margin-bottom: 10px;
    vertical-align: middle;
    display: inline-flex;
    padding-left: 10px;
    padding-right: 10px;
}

.chat-list .title-chat p {
    color: #7C878E;
    font-size: 9px;
}

.chat-list .box-chat {
    background-color: rgb(110, 206, 178, 0.3);
    padding: 10px;
    border-radius: 15px;
}

.chat-list .box-chat p,
.chat-list .box-chat-agent p {
    margin: 0px;
}


/* for right chat */

.right-chat {
    text-align: right;
}

.chat-list .box-chat-agent {
    background-color: rgb(254, 209, 65, 0.3);
    padding: 10px;
    border-radius: 15px;
}

.chat-respond {
    background-color: #E5E5E5;
}

.chat-respond .row .col {
    padding-right: 0px;
}

.chat-respond .fwd-input {
    background-color: white !important;
}

.ticket-detail .nav_bottom {
    background: #faebd700;
    height: 120px !important;
}

.close-ticket {
    margin-bottom: 10px;
}

.title-rate {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#modal-rate img,
#modal-poor img {
    width: 75px;
}